*.error.log
dir
Copy (10).log
         Copy (11).log
        Copy (12).log
        Copy (13).log
        Copy (2).log
        Copy (3).log
        Copy (4).log
        Copy (5).log
        Copy (6).log
        Copy (7).log
        Copy (8).log
        Copy (9).log
        